* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  transition: all 1s;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s all;
}

.app {
  background-color: rgb(114, 197, 197);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(8, 8, 8, 0.979);
  transition: 1s all;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  transition: 1s all;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  transition: 1s all;
}
button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(158, 62, 221);
  color: white;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
}
