* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 0px rgba(59, 59, 59, 0.425);
  background: #55555528;
  margin: auto 30px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(158, 62, 221);
  color: white;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
